Source: python-neutronclient
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Mehdi Abaakouk <sileht@sileht.net>,
           Thomas Goirand <zigo@debian.org>
Build-Depends: debhelper (>= 9),
               openstack-pkg-tools,
               python-all (>= 2.6.6-3~),
               python-pbr (>= 0.5.21)
Build-Depends-Indep: cliff-tablib,
                     pep8,
                     python-babel,
                     python-cliff (>= 1.3.3),
                     python-fixtures (>= 0.3.14),
                     python-httplib2,
                     python-iso8601,
                     python-mox,
                     python-nose,
                     python-prettytable,
                     python-pyparsing (>= 1.5.7+dfsg1-1~),
                     python-simplejson,
                     python-six,
                     python-subunit,
                     python-testtools (>= 0.9.32),
                     testrepository (>= 0.0.17)
Standards-Version: 3.9.3
Homepage: http://launchpad.net/python-neutronclient
Vcs-Browser: http://git.gplhost.com/gitweb/?p=openstack/python-neutronclient.git;a=summary
Vcs-Git: http://git.gplhost.com/openstack/python-neutronclient.git

Package: python-neutronclient
Architecture: all
Replaces: python-quantumclient, quantum-client
Provides: python-quantumclient
Breaks: python-quantumclient
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python-argparse,
         python-cliff (>= 1.3.3),
         python-httplib2,
         python-iso8601,
         python-pbr (>= 0.5.21),
         python-prettytable,
         python-pyparsing (>= 1.5.7+dfsg1-1~),
         python-simplejson,
         python-six,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: client API library for Neutron
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (e.g., vNICs
 from Nova VMs). The Neutron API supports extensions to provide advanced network
 capabilities (e.g., QoS, ACLs, network monitoring, etc).
 .
 This package provides the client agent.
